<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starmony - Answer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<script type="text/x-mathjax-config">
		  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
	</script>
	<script type="text/javascript"
		  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('generate_questions') }}">Generate Questions</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="row justify-content-center" style="min-height: calc(100vh - 50px - 76.78px - 96px) !important;
    align-items: center;">
        <div class="col-md-8">
        <div class="card">
            <div class="card-header text-center py-3">
                <h2 class="mb-0">Answer the Questions</h2>
            </div>
            <div class="card-body p-4">
                <form id="answer-form" action="{{ url_for('answer') }}" method="POST">
                    <div class="questions">
                        {% for question in questions %}
                        <div class="question">
                            <p><i class="bi bi-patch-question-fill"></i> {{ question.text }}</p>
                            {% for blank in question.blanks %}


                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"> Answers | 答案</span>
                                <input type="text" class="form-control" name="q{{ question.id }}_{{ blank.id }}"
                                    aria-label="" aria-describedby="basic-addon1">
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mb-4">
                        <div class="input-group">
                            <span class="input-group-text">Report Language|報告語言</span>
                            <select id="language" name="language" class="form-select" required>
                                <option value="Traditional Chinese (HK)">Chinese (ZH)</option>
                                <option value="Simplified Chinese">Chinese (CN)</option>
                                <option value="English">English</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Submit Answers</button>
                </form>
            </div>
        </div>
        </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Starmony. All rights reserved.</p>
    </footer>

</body>

</html>
